#formulario-login{
	width: 30%;
	max-width: 500px;
	margin: auto;
	margin-top: 5%;
	background-color: #fff;
	border-radius: 3%;
}
.input-login{
	width: 85%;
	padding: 7px; 
	margin: 4px;
	background-color: #EAEDED;
	border:none;
	border-radius: 2%;
	margin-left: 25px;
	border-bottom: solid #EAEDED;
	-webkit-box-sizing: border-box; /*queden del mismo tamaño*/
}
.input-login:focus{
	border-bottom: solid #0097A7;
}
.input-login::-webkit-input-placeholder {
  text-align: center;
  line-height: 100px;
}
#select-login{
	text-align-last: center; 
}
.input-btn-login{
	width: 85%;
	background: #0097A7;
	color: #fff;
	margin: auto;
	border: none;
	border-radius: 2%;
	padding: 7px;
	cursor: pointer;
	margin-top: 10px;
}
.input-btn-login:hover{
	background-color: #00ACC1;
}
#btn-login{
	width: 100%;
	margin-top: 15px;
	text-align: center;
	font-size: 14px;
}
.item-login{
	text-decoration: none;
	color: #000;
	font-size: 1.05em;
	line-height: 13pt;
}
.item-login:hover{
	text-decoration:underline #000;
}

/* recuperar contraseña*/
#titulo-recuperar{
	font-size: 1.3em;
	color: #fff;
    padding: 12px;
    text-align: center;
    background: #0097A7;
    border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
#txt-recuperar{
    margin-left: 18px;
    padding: 10px;
}
/* fin recuperar contraseña*/
.recuperar_clave{		
	webkit-box-shadow: 2px 2px 18px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 18px -3px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 18px -3px rgba(0,0,0,0.75);
}
