/* Con el asterisco indicamos que estos ajustes se deben hacer a todo el archivo(tipo de letra) */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*Inicio carta de los elementos*/
div.contenedor{
    background-color: #EAECEE;
    box-shadow: 3px 0px 10px -2px rgba(0,0,0,0.75);
    height: 175px;
    width: 45%;
    margin-left: 3%;
    margin-top: 8%;
    border-radius: 5px 5px 5px 5px;
    grid-template-columns: auto auto;
    position: relative;
    display: inline-grid;
}
/*Contenedor de la imagen del elemento*/
div.contenedor-imagen{
    position: absolute;
    height: 118px;
    width: 35%;
    margin-top: 3%;
    margin-left: 3%;
    border-radius: 50% 50% 50% 50%;
    z-index: 5;
}
/*Foto del elemento*/
img.foto{
    position: absolute;
    height: 118px;
    border: 3px solid #EAEDED;
    width: 100%;
    border-radius: 50% 50% 50% 50%;
    z-index: 5;
}

/*Contiene el texto del elemento*/
div.contenedor-txt{
    background-color: #FBFCFC;
    position: absolute;
    height: 138px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

/*Contiene el nombre del elemento*/
h2{
    color: #1B2631;
    margin-left: 43%;
    margin-top: 9%;
    font-size: 1.2em;
}

/*Pequeña linea horizontal que se encuentra debajo del nombre de los elementos*/
hr{
    margin-top: 1%;
    width: 9%;
    border-radius: 2px;
    border: 2px solid #EAECEE;
    margin-left: 45%;
}

/*Letra gris que contiene descripcion y numero serial del elemento*/
p{
    color: #839192 ;
    margin-left: 43%;
    margin-top: 4%; 
    font-size: .8em;
    font-weight: 550;
}

/*Letra gris que contiene descripcion y numero serial del elemento*/
p.letra{
    margin-left: 43%;
    margin-top: 2%;  
}

/*Hover o enfoque en el boton que contiene el lapiz para editar la informacion del elemento*/
button.boton1:hover{
    background-color: #00ACC1;
}

/*Hover o enfoque en el boton que contiene el recipiente de basura para eliminar el elemento*/
button.boton:hover{
    background-color: #48C9B0;
}

/*Boton que contiene el lapiz para editar la informacion del elemento*/
button.boton1{
    background-color: #0097A7;
    height: 41px;
    width: 12%;
    margin-left: 63%;
    margin-top: 5%;
    position: absolute;
    border:none;
    border-radius: 50% 50% 50% 50%;
}
/*Boton que contiene el recipiente de basura para eliminar el elemento*/
button.boton{
    background-color: #1ABC9C;
    height: 41px;
    width: 12%;
    margin-left: 80%;
    margin-top: 5%;
    position: absolute;
    border:none;
    border-radius: 50% 50% 50% 50%;
}

/*Color y ancho de los iconos del lapiz y del recipiente de basura */
i.fas{
    color: #fff;
    font-size: 1.2em;
}

/*Boton que permite regresar al perfil del usuario desde el formulario "Actualizar Elemento"*/
button#atras{
    background-color:#0097A7;
    border: none;
    border-radius: 3px;
    height: 35px;
    width: 11%; 
    margin-left: 6%;
    margin-top: 5%;
}
/*Hover o enfoque en el boton que permite regresar al perfil*/
button#atras:hover{
    background-color: #00ACC1;
}
/*Fin de la carta de los elementos*/

/*Inicio formulario del registro  del elemento*/
div#form-registro-elemento, .codigo-barras{
    width: 45%;
	margin: auto;
	margin-top: 3%;
    border-radius: 3%;
    border: 1.5px solid #D5D8DC;
}
/*Tamaño del formulario del registro  del elemento*/
div#form-registro-elemento{
    height: 350px;
}

/*Titulo "Registrar elemento"*/
h3.registrar-elemento{
    margin-top: 6%;
    text-align: center;
    font-size: 1.6em;
    color: #202124;
}

/*Pequeña linea horizontal debajo del titulo "Registrar elemento" */
hr.linea-ele{
    margin-top: .5%;
    width: 6%;
    border-radius: 2px;
    border:2px solid #EAECEE;
    margin-left: 47%;
}

/*Contiene el formulario de registro del elemento*/
div#registro{
    width: 100%;
    text-align: center;
	position: relative;
	top: 7%;
}

/*Campos para realizar el registro del elemento*/
input.input{
    width: 63%;
    padding: 10px; 
    margin: 7px;
    margin-left: 4%;
    background-color: #F8F9F9;
    border:none;
    border-radius: 3%;
}
/*Div que contiene el input subir foto*/
div.subir-foto{
    height: 30px;
    width: 67%;
    margin-left: 17%;
    margin-top: 2%;
    position: relative;
    background-color: #fff;
    border: 2px dashed #C8C8C8;
}

/*Texto "subir foto" dentro del input*/
p.txt-subir-foto{
    text-align: left;
    color: #85929E;
    margin-top: 5px;
}

/*Input tipo file (archivo) para subir la foto*/
input.btn-subir-foto{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/*Estilos del boton que confirma el registro de los elementos*/
input.input_btn{
    background: #0097A7;
    color: #fff;
    margin: auto;
    border: none;
    border-radius: 4%;
    padding: 9px 40px;
    margin-left: 37%;
    margin-top: 4%;
    cursor: pointer;
}

/*Hover o enfoque del boton que confirma el registro de los elementos*/
input.input_btn:hover{
    background-color: #00ACC1;
}
/*a que contiene la siguiente frase "No tiene código serial"*/
.serial{
    text-decoration: none;
    color: #000;
}
/*Fin del formulario del registro de los elementos*/

/*Generador del codigo de barras*/
.generar-serial{
    color: #1B2631;
    margin-left: 2%;
    margin-top: 5%;
    font-size: 1em;
}

/*Boton llamado "Buscar"*/
.input_btn-serial{
    background: #0097A7;
    color: #fff;
    margin: auto;
    border: none;
    border-radius: 4%;
    padding: 9px 50px;
    margin-left: -68%;
    margin-top: -2%;
    cursor: pointer;
}

/*Hover o enfoque en el boton llamado "Buscar"*/
.input_btn-serial:hover{
    background-color:#00ACC1; 
}

/*Tamaño del codigo de barras del elemento*/
.codigo-barras{
    height: 230px;
}

