/* Con el asterisco indicamos que estos ajustes se deben hacer a todo el archivo del indexgit pull(tipo de letra) */
*{
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto Slab', sans-serif;
}
/* Es el contenedor para todos los aspectos del archivo*/
body{
	background-color: #fff;
	text-align: center;
}
/*Inicio header*/
/*Contiene los elementos del encabezado */
header{
	position: fixed;
	width: 100%;
	height: 70px;
	background-color:rgba(12,12,12,0.75);
	z-index: 2;
}

/*a que Contienen "Iniciar sesion" y "Registrarse"*/
#menu{
	float: right;
	display:block;
  	color: white;
	text-align: center;
	margin-top: 8px;
 	text-decoration: none;
 	word-spacing: 5pt;
	padding: 14px;
 	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter; 

}
/*Hover o enfoque de las a que contienen "Iniciar sesion" y "Registrarse"*/
#menu:hover{
background-color: #777;
}

/*Div que contiene el logo de Registro Ágil*/
#espacio-logo{
	position: relative;
	display: table;
	margin:auto;
	margin: 70px;
	margin-top: -60px;
}

/*Imagen del logo de Registro Ágil*/
img#logo{
	height: 80px;
	width: 100px;
	display: block;
	margin-left: 575%;
	margin-top: 468%;
}
/*Fin header*/

/*Inicio de la imagen del fondo*/
.fondo{
	width: 100%;
	background: fixed no-repeat 50% 50%;
	background-size: cover;
	background-image: url(../img/fondo1.jpg);
	background-attachment: contain;
	height: 715px;
}
/*Fin fondo*/

/*Inicio y apertura de la ventana modal*/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 3;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

/*Tarjeta de la ventana modal donde se marca la opacidad del fondo*/
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
/*Div que contiene la informacion de la ventana modal */
.modalDialog > div {
	width: 337px;
	position: relative;
	margin: 10% auto;
	padding: 0px 20px -100px 20px;		
	border-radius:  0px 0px 10px 10px;
	background: #fff;
  	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

/*X(equis) para cerrar la ventana modal*/
/*Los estilos separados por "-" se utilizan par cerrar y abrir la ventana modal*/
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 485px;
	top: 67px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

/*Hover o enfoque de la X de la ventana modal*/
.close:hover { 
	background: #b2b5b6; 
}
/*Fin modal */

/*Inicio cerrar registro*/
#close-registro {
	right: 447px;
}


/*Inicio explicacion de como funciona*/
.como_funciona{
	background-color: #fff;
	position: relative;
 	min-width: 300px;
  	min-height: 400px;
  	perspective: 1000px;
}

/*H1 que contiene el titulo "¿COMO FUNCIONA?" */
h1{
	color: black;
	font-weight: bold;
	font-size: 35px;
	text-align: center;	
}

/*Contenedor que contiene las imagenes de explicacion de como funciona*/
.grid-container{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-column-gap: 110px;
	width: 87%;
	padding: 20px;
	position: relative;
	margin-left: 5%;
}

/*Cartas que contienen una imagen que explica el funcionamiento y una breve descripcion*/
.card{
	position: relative;
}

/*Estilos de las imagenes de explicacion del funcionamiento*/
.img{
	background-color: #F4F6F6;
  	background-position: center;
	height: 150px;
	width: 100%;
	border-radius: 100%;
  	box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.68);
}

/*Iconos de explicacion del funcionamiento*/
.iconos{
	margin-top: 12px;
}

/*H2 que contiene los titulos del funcionamiento*/
h2{
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

/*Contiene las breves descripciones del funcionamiento*/
p{
	color: black;
	font-size: 15px;
	float: left;
}
/*Fin como funciona*/

/*Inicio de la linea del tiempo*/
/*Div que cotniene el quienes somos, mision y vision de Registro Ágil*/
.linea-tiempo{
	position: relative;
	width: 1000px;
	max-width: 95vw;
	height: 100%;
}

/*Linea vertical azul que se explica el tiempo */
.linea-tiempo::before{
	content: '';
	position: absolute;
	width:3px;
	height: 100%;
	background-color:#0097A7;
	left: 49.2%;
	border-radius:  10px; 
}

/*Divs que contienen la debida informacion de cada parada*/
.momento{
	position: relative;
	width: 45%;
	right: 27.5%;
	box-sizing: border-box;
}

/*:nth-child(even) coincide con uno o más elementos en función de su posición entre el grupo even*/
.momento:nth-child(even){
	left: 27.7%;
}

/*Circulos azules que indican cada parada de la linea del tiempo*/
.momento::after{
	content: '';
	position: absolute;
	top: 60px;
	right: -12%;
	height: 20px;
	width: 20px;
	background-color:#0097A7;
	border-radius:  50px; 
}
/*:nth-child(even) coincide con uno o más elementos en función de su posición despues del grupo even*/
.momento:nth-child(even)::after{
	left:-15%;
}

/*Titulo de la informacion de las paradas del tiempo*/
.momento h3{
	margin: 10px 0;
	font-size: 30px;
	text-align: center;
}

/*Estilos de la informacion de las paradas del tiempo*/
.momento .informacion{
	background-color: #eee;
	border-radius: 10px;
	padding: 6px;
	line-height: 22px;
	font-size: 14px;
}
.momento #informacion1::after{
	content: '';
	position: absolute;
	right: 450px;
	top:30%;
	height: 0;
	width: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 12px solid  #0097A7;
}
.momento .informacion::after{
	content: '';
	position: absolute;
	right: -10px;
	top:30%;
	height: 0;
	width: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 12px solid  #eee;
}
.momento:nth-child(even) .informacion {
	background-color: #0097A7;
	color: white;
}

/*Se utiliza para organizar a los lados cada momento*/
.momento:nth-child(even) .informacon::after{
	left: 10px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 12px solid #3393FE;
	border-left: none;
}
/*Fin linea tiempo*/

/*Inicio del footer(parte final del index)*/
.footer{
 	background-color:  #E5E7E9;
	color: #2C3E50;
	font-size: 20px;
}
/*Fin footer*/