/* Con el asterisco indicamos que estos ajustes se deben hacer a todo el archivo(tipo de letra) */
*{
    margin:0;
    padding:0;
	font-family: 'Roboto Slab', sans-serif;
}

/* div que contiene el buscador de fecha(historial) y el buscador de los elementos*/
div#barra{
	height: 87px;
	width: 90%;
	margin: auto;
}

/*Buscador del historial por fecha y el buscador de los elementos*/
.buscador-fecha, .buscador{
    position: absolute;
	height: 30px;
	border-radius: 4px;
	margin-left: 15px;
	border: 1.5px solid #D5D8DC;
}

/*Se ubica el buscador del historial encima del buscador de los elementos*/
.buscador-fecha{
	width: 220px;
	top: 24%;
}


/*Se define el tamaño del input tipo fecha y de la fecha como tal*/
#bus-fecha, #fecha{
    width: 150px;
}

/*Añade posiciones y direcionalidad a el buscador por fecha, el buscador de los elementos y al boton de este*/
#bus-fecha, #fecha,#bus, #buscar-ele{
    float: left;
    position: relative;
    height: 30px;
    padding: 0;
}

/*Añade color y borde al buscador por fecha y el buscador de los elementos*/
#bus-fecha, #bus{
	color: #666;
    border:none;
	z-index: 2;
}

/*Formulario que contiene el buscador de los elemento*/
.buscador{
	width: 550px;
	margin-top: 55px; 
}
/*Tamaño del buscador de los elementos*/
#bus, #buscar-ele{
    width: 500px;
}

/*Boton llamado "Buscar" situado al lado del buscador del historial*/
#fecha{
    font-size: .8em;
    width: 70px;
    border:none;
}

/*Boton que contiene la lupa en el buscador de los elementos*/
#buscar-ele{
    font-size: 1.1em;
    width: 50px;
    border:none;
}

/* Registro visitante*/
/*Color  y tamaños del boton "Registrar visitante" que se encuntra al lado del buscador de los elementos*/
button#registra-visitante{
	background-color:#0097A7; 
	height: 32px;
	width: 18%;
	color: #fff;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-size: 1em;
	position: absolute;
	margin-left: 70%;
	margin-top: 54px;
}

/*Hover o señalador del puntero sobre el boton "Registrar visitante" que se encuentra al 
lado del buscador de los elementos*/
button#registra-visitante:hover{
	background-color: #00ACC1;
}

/*Color y tamaño del boton llamado "siguiente" que se encuentra dentro del formulario "Registrar visitante"*/
.input-btn-visitante{
    background: #0097A7;
    color: #fff;
    border: none;
    border-radius: 4%;
    padding: 9px 60px;
    margin-left: 56%;
    margin-top: 3%;
    cursor: pointer;
}
/*Fin formulario registro visitante*/

/*Resultado del buscador de los elementos  */
#elemento-visitante{
    background: #0097A7;
    color: #fff;
    cursor: pointer;
}
.sin-serial{
    text-decoration: none;
	color: #000;
	margin-left: 57%;
	margin-top: 2%;
}

/*Div que contiene el resultado del buscador de los elementos
Overflow creará un nuevo contexto de formatos de bloques en este caso de a 1 bloque*/
.resultado_buscar{
	width: 100%;
	height: 405px;
	overflow: auto;
	margin: auto;
	margin-top: 10%;
}

/*Div que contiene la carta de los elementos resultados del buscador
"grid-template-columns: auto auto;" divide el div en dos columnas
"display: inline-grid" el elemento en sí y su contenido se establecen de acuerdo con el modelo de cuadrícula*/
div.contenedor-carta{
    background-color: #EAECEE;
    box-shadow: 3px 0px 10px -2px rgba(0,0,0,0.75);
    height: 175px;
    width: 40%;
    margin: 30px 35px;
    border-radius: 5px 5px 5px 5px;
    grid-template-columns: auto auto;
    position: relative;
	display: inline-grid;
}

/*Tamaño y color de los botones salida e ingreso que se encuentran en la carta del elemento*/
#boton_ingreso, #salida{
	height: 26px;
	width: 20%;
	color: #fff;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-size: .7em;
	position: absolute;
	margin-top: 24px;
}
/*Color y posicion del boton ingreso*/
#boton_ingreso{
	background-color:#0097A7; 
	margin-left: 50%;
}

/*Hover o señalador del puntero sobre el boton "Ingreso" que se encuentra en la carta de los elementos*/
#boton_ingreso:hover{
	background-color: #00ACC1;
}

/*Color y posicion del boton salida*/
#salida{
	background-color:#1ABC9C; 
	margin-left: 75%;
}

/*Hover o señalador del puntero sobre el boton "Salida" que se encuentra en la carta de los elementos*/
#salida:hover{
	background-color: #48C9B0;
}
/*Fin resultado del buscador de los elementos*/


/*Inicio resultado buscador historial*/
/*Tabla donde aparecen los datos de los elementos que se buscaron en el buscador del historial*/
table{
	background-color: #FFF;
	text-align: left;
	width: 80%;
	margin: auto;
	border-collapse: collapse;
	border-radius: 20%;
	border: 1px solid #E5E7E9;
}

/*th representa una celda de encabezado en una tabla, en este caso de la tabla de los elementos
td representa una celda en una tabla, en este caso de la tabla de los elementos*/
th,td{
	padding: 15px;
	font-size: 1em;
	border: 1px solid #E5E7E9;
}

/*thead contiene un bloque de filas del encabezado*/
thead{ 
	color: #000; 
}

/*:nth-child(even) coincide con uno o más elementos en función de su posición entre el grupo even*/
tr.historial:nth-child(even){
	background-color: #E5E7E9;
}

/* 
.nombre_verificar{
	text-decoration: none;
	color: #000;
} */

/*sticker visitante */
#tabla_sticker_visitante{
	margin-top: 13%;
	background-color: #fff;
	text-align: left;
    width: 50%;
    margin-left: 28%;
    border-collapse: collapse;
    border: 1px solid #ddd;;
}
#tabla_sticker_visitante th,td{
	padding: 15px;
    font-size: 1em;
    border: 1px solid #ddd;;
}
#tabla_sticker_visitante thead{
	color: #ddd; 
}
.sticker{
    font-size: 1em;
    margin-top: 2%;
    margin-left: 35%;
}
Button#terminado_visitante{
	background-color:#0097A7; 
	height: 32px;
	width: 18%;
	color: #fff;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-size: 1em;
	position: absolute;
	margin-left: 40%;
	margin-top: 20px;
}
.close_visitante{
	color: #DDD;
	position: absolute;
	left: 94%;
	text-align: center;
	top: 4px;
	width: 20px;
	font-weight: bold;
	text-decoration: none;
}












